<div class="filters">
    <form action="/listings/filter" method="post">
        <label for="job">Select Your Job Role:</label>
        <select id="job" name="job">
            <option value="">Select a category</option>
            <option value="Electronics">Chemical</option>
            <option value="Automobile">food</option>
            <option value="Furniture">metal</option>
            <option value="Real Estate">contruction</option>
            <option value="Other">Other</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>