<% layout("/layouts/boilerplate") %>

<div class="container mt-4">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
        <% for (let i of listings) { %>
            <div class="col">
                <a href="/listings/<%= i.id %>" class="listing-link text-decoration-none">
                    <div class="card h-100 shadow-sm border-0">
                        <img src="<%= i.image %>" class="card-img-top" alt="Listing Image" style="height: 20rem; object-fit: cover;">
                        <div class="card-body">
                            <p class="card-text text-dark">
                                <b><%= i.title %></b><br>
                                &#8377;<%= i.price.toLocaleString("en-IN") %>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
</div>
